<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% extends 'base.html' %}
{% load static %}
		{% block content %}
			<main class="content">
				<div class="col-12 col-xl-12">
					<div class="card">
						<div class="col-12 col-xl-12">
							<div class="card">
								<div class="card-body">
									<div class="card-body">
										<form enctype="multipart/form-data" method="post">
											{% csrf_token %}
											<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Name</label>
											<div class="col-sm-10">
												<input required class="form-control" value="{{form.name.value}}" type="text" name="name" maxlength="255" required id="id_name">
											</div>
										</div>
	  
										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Image</label>
											<div class="col-sm-10">
                                                <div style="display: flex">
                                                <p>Currentlly 
													<a data-toggle="modal" data-target="#ImageShow" href="#">{{form.img.value}}</a>

													<div class="modal fade" id="ImageShow" tabindex="-1" role="dialog" aria-hidden="true">
														<div class="modal-dialog" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title">View Direction Image</h5>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		  <span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<img src='{{form.img.value.url}}'>
															</div>
														</div>
													</div>  
                                                </div>
												<div class="input-group">
													<input value="" name="img" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
												  </div>
											</div>
										</div>
	  
										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Quantity of questions</label>
											<div class="col-sm-10">
												<input required value="{{form.quantity_of_questions.value}}" name='quantity_of_questions' type="number" class="form-control" rows="3">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Quantity of logic questions</label>
											<div class="col-sm-10">
												<input required value="{{form.quantity_of_logic_questions.value}}" name='quantity_of_logic_questions' type="number" class="form-control" rows="3">
											</div>
										</div>
	 
										<fieldset class="form-group">
											<div class="row">
												<label class="col-form-label col-sm-2 text-sm-right pt-sm-0">Timer</label>
												<div class="col-sm-10">
													<div class="custom-controls-stacked">
														<input required value="{{form.timer.value}}" name='timer' type="text" class="form-control" placeholder="example 02:30:15">
													</div>
												</div>
											</div>
										</fieldset>

										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right pt-sm-0">Is logic</label>
											<div class="col-sm-10">
												<label class="custom-control custom-checkbox m-0">
												<input type="checkbox" name="is_logic" class="custom-control-input"{% if form.is_logic.value == True %} checked{% endif %}>
												<span class="custom-control-label"></span>
											</div>

											<div>
                                            <div style='display: flex; justify-content: space-between;'>
										<div class="modal-footer">
											<button type="Submit" class="btn btn-success">SAVE</button>
											<button type="Submit" name='adding' value='001' class="btn btn-success">SAVE AND ADD ANOTHER</button>
											<button type="Submit" name='editing' value='002' class="btn btn-success">SAVE AND CONTINUE EDITING</button>
										</div>
										<div style='display: flex;
										-webkit-box-align: center;
										align-items: center;
										-webkit-box-pack: end;
										justify-content: flex-end;
										padding: 1rem;
										border-top: 1px solid #dee2e6;
										border-bottom-right-radius: 0.3rem;
										border-bottom-left-radius: 0.3rem;'>
										<a href="{% url 'delete_dir' pk %}" style="color: white" type="button" class="btn btn-danger">DELETE</a>
										</div>
									</div>
                                                <!-- END danger modal -->
                                            </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		{% endblock content %}